### 개발환경 설정 및 데이터 가져오기

In [ ]:
# For Colab Use------------------------------------
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Package loading ===============================================
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.font_manager as fm
import seaborn as sns
# import missingno as msno
# nltk.download("all")

In [ ]:
import warnings
warnings.filterwarnings('ignore')

### merging
(preprocessing(1)마친 데이터셋을 하나로 합친 데이터셋 만들기)

In [ ]:
# 데이터셋 불러오기
df1 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20191028.csv")
df2 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20200929.csv")
df3 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20201102.csv")
df4 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20201204.csv")
df5 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210114_biggerN.csv")
df6 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210221_biggerN.csv")
df7 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210326_biggerN.csv")
df8 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210329_biggerN.csv")
df9 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210527_biggerN.csv")
df10 = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/shortened_20210719_biggerN.csv")

In [ ]:
# 합치기 pd.concat()
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], axis = 0, ignore_index = True)

In [ ]:
df.columns

Index(['Unnamed: 0.1', 'URL', 'Type', 'Tenure', 'Floorsize', 'Developer',
       'PSF', 'Furnishing', 'TOP', 'Floor', 'ListingID', 'Tenanted',
       'Listed_on', 'properties.Type', 'properties.TOP', 'properties.Tenure',
       'Total Unit(s)', 'properties.url', 'properties.name',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'images.url',
       'images.path', 'images.checksum', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'development_properties.Completion Year',
       'amenities.Gymnasium room', 'amenities.Balcony', 'Unnamed: 0.1.1'],
      dtype='object')

In [ ]:
df[['Floorsize', 'floor_size']].tail()

        Floorsize  floor_size
258698  1216 sqft      1216.0
258699  2443 sqft      2443.0
258700  1690 sqft      1690.0
258701  1658 sqft      1658.0
258702   398 sqft       398.0

In [ ]:
df['floor_size'].isnull().sum()

0

In [ ]:
# 내보낼 컬럼만 선택
columns_want_to_export = ['URL', 'Type', 'Tenure', 'Floorsize', 'Developer',
       'PSF', 'Furnishing', 'TOP', 'Floor', 'ListingID', 'Tenanted',
       'Listed_on', 'properties.Type', 'properties.TOP', 'properties.Tenure',
       'Total Unit(s)', 'properties.url', 'properties.name',
       'address.locality', 'latitude', 'longitude', 'rooms', 'bathrooms',
       'floor_size', 'price', 'image_urls', 'created_at', 'images.url',
       'images.path', 'images.checksum', 'description', 'Listed_on_num',
       'Listed_on_day', 'days_past', 'date_created_at', 'listed_date',
       'pandemic', 'listed_year', 'development_properties.Completion Year']

In [ ]:
# 내보내기
df[columns_want_to_export].to_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/All.csv")

## 합친 데이터 불러올 때

In [ ]:
# data reading
df = pd.read_csv("/content/drive/MyDrive/PropertyGuru/Shortened_CSV/All.csv", index_col=0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258703 entries, 0 to 258702
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   URL                                     258703 non-null  object
 1   Type                                    258703 non-null  object
 2   Tenure                                  257923 non-null  object
 3   Floorsize                               258703 non-null  object
 4   Developer                               253619 non-null  object
 5   PSF                                     258703 non-null  object
 6   Furnishing                              197296 non-null  object
 7   TOP                                     258703 non-null  float64
 8   Floor                                   211999 non-null  object
 9   ListingID                               258703 non-null  float64
 10  Tenanted                                258683 non-null  object
 11  Listed_on                               258703 non-null  object
 12  properties.Type                         66575 non-null   object
 13  properties.TOP                          66560 non-null   float64
 14  properties.Tenure                       255436 non-null  object
 15  Total Unit(s)                           179868 non-null  float64
 16  properties.url                          258703 non-null  object
 17  properties.name                         40486 non-null   object
 18  address.locality                        179480 non-null  object
 19  latitude                                258703 non-null  float64
 20  longitude                               258703 non-null  float64
 21  rooms                                   258692 non-null  object
 22  bathrooms                               258692 non-null  object
 23  floor_size                              258703 non-null  float64
 24  price                                   258703 non-null  float64
 25  image_urls                              258703 non-null  object
 26  created_at                              258702 non-null  object
 27  images.url                              165721 non-null  object
 28  images.path                             165721 non-null  object
 29  images.checksum                         165721 non-null  object
 30  description                             258702 non-null  object
 31  Listed_on_num                           258703 non-null  int64
 32  Listed_on_day                           258703 non-null  int64
 33  days_past                               258703 non-null  int64
 34  date_created_at                         258702 non-null  object
 35  listed_date                             258702 non-null  object
 36  pandemic                                258702 non-null  float64
 37  listed_year                             258702 non-null  float64
 38  development_properties.Completion Year  188907 non-null  float64
dtypes: float64(11), int64(3), object(25)
memory usage: 78.9+ MB

In [ ]:
df.head()

                                                 URL  ... development_properties.Completion Year
0  http://api.scraperapi.com/?api_key=b0560c3ca5b...  ...                                    NaN
1  http://api.scraperapi.com/?api_key=b0560c3ca5b...  ...                                    NaN
2  http://api.scraperapi.com/?api_key=b0560c3ca5b...  ...                                    NaN
3  http://api.scraperapi.com/?api_key=b0560c3ca5b...  ...                                    NaN
4  http://api.scraperapi.com/?api_key=b0560c3ca5b...  ...                                    NaN

[5 rows x 39 columns]

## 파생변수 생성

 TOP is a permit that allows homeowners to temporarily move in and occupy the condominium, apartment or building as long as key requirements are met.

In [ ]:
#@title years_from_TOP
df['years_from_TOP'] = df['listed_year'] -df['TOP']
df[['TOP','listed_year','years_from_TOP']].head()

      TOP  listed_year  years_from_TOP
0  2019.0       2019.0             0.0
1  1986.0       2019.0            33.0
2  2004.0       2019.0            15.0
3  2016.0       2019.0             3.0
4  2008.0       2019.0            11.0

# -- Number Extracting



---

In [ ]:
df['Floorsize'].head()

0    1345 sqft
1    1765 sqft
2    1238 sqft
3    1346 sqft
4    1905 sqft
Name: Floorsize, dtype: object

In [ ]:
#@title Floorsize(바닥면적)
df['Floorsize'] = df['Floorsize'].replace({' sqft': ''}, regex=True)
convert_dict = {'Floorsize': float              
                }
df = df.astype(convert_dict)

In [ ]:
df["Floorsize"].head()

0    1345.0
1    1765.0
2    1238.0
3    1346.0
4    1905.0
Name: Floorsize, dtype: float64



---

In [ ]:
print(df["PSF"].head())

0    S$ 1,561.34 psf
1      S$ 424.93 psf
2    S$ 1,252.02 psf
3    S$ 1,411.59 psf
4    S$ 2,125.98 psf
Name: PSF, dtype: object

In [ ]:
#@title PSF(단위면적sqft당 가격)
# 특수문자 제거
df["PSF"] = df["PSF"].str.replace(pat = r'[^\w]', repl =r'', regex = True)
#S라는 글자 제거
df["PSF"] = df["PSF"].str.replace('S', '', regex = True)
#psf라는 글자 제거
df["PSF"] = df["PSF"].str.replace('psf', '', regex = True)
#100으로 나누기
df["PSF_float"] = df["PSF"].astype(float) / 100
df['PSF_float'].head()

0    1561.34
1     424.93
2    1252.02
3    1411.59
4    2125.98
Name: PSF_float, dtype: float64

In [ ]:
# dropping temporary PSF
df = df.drop(columns = ['PSF'])



---

### Type (주택유형)

In [ ]:
# 주택유형 관련 변수 결측치 상황 확인
# df[['properties.Type', 'Type']].isnull().sum() # properties.Type, Type 변수의 결측치 갯수 확인
df['Type'].isnull().sum() # Type 변수의 결측치 갯수 확인

0

#### Condo dummy

In [ ]:
# if there's Condominium, Condominium column =1 and otherwise 0
def new_col_creating(df_name):
  result = df_name['Type'].apply(lambda x : 'Condominium' in str(x))
  result = result.astype('int')
  return result

df['Condo'] = new_col_creating(df)
df[['Type','Condo']]

                        Type  Condo
0       Condominium For Sale      1
1         Jumbo HDB For Sale      0
2       Condominium For Sale      1
3       Condominium For Sale      1
4         Apartment For Sale      0
...                      ...    ...
258698       5I HDB For Sale      0
258699    Apartment For Sale      0
258700  Condominium For Sale      1
258701  Condominium For Sale      1
258702    Apartment For Sale      0

[258703 rows x 2 columns]

#### HDB dummy

In [ ]:
# if there's HDB, HDB column =1 and otherwise 0
def new_col_creating(df_name):
  result = df_name['Type'].apply(lambda x : 'HDB' in str(x))
  result = result.astype('int')
  return result

df['HDB'] = new_col_creating(df)
df[['Type','HDB', 'Condo']].tail(15)

                                  Type  HDB  Condo
258688                 4A HDB For Sale    1      0
258689  Executive Condominium For Sale    0      1
258690            Condominium For Sale    0      1
258691                 5A HDB For Sale    1      0
258692    3STD (Standard) HDB For Sale    1      0
258693            Condominium For Sale    0      1
258694              Apartment For Sale    0      0
258695  Executive Condominium For Sale    0      1
258696                 5I HDB For Sale    1      0
258697              Apartment For Sale    0      0
258698                 5I HDB For Sale    1      0
258699              Apartment For Sale    0      0
258700            Condominium For Sale    0      1
258701            Condominium For Sale    0      1
258702              Apartment For Sale    0      0

#### House_type (object)

In [ ]:
temp = list(range(df.shape[0]))
def new_col_creating(df_name):
	for i in range(df_name.shape[0]): 
		if df_name.iloc[i]['Condo']==1:
			temp[i] = 'Condo'
		elif df_name.iloc[i]['HDB']==1:
			temp[i] ='HDB'
		else:
			temp[i] ='other'
	return temp

df['House_type'] = new_col_creating(df)

In [ ]:
df[['Type', 'Condo', 'HDB','House_type']].head()

                   Type  Condo  HDB House_type
0  Condominium For Sale      1    0      Condo
1    Jumbo HDB For Sale      0    1        HDB
2  Condominium For Sale      1    0      Condo
3  Condominium For Sale      1    0      Condo
4    Apartment For Sale      0    0      other

In [ ]:
#@title House_type for 2019 dataframe

# # 결측값을 공백으로 대체하기
# # df['properties.Type'] = df.fillna("missing")
# # df['Type'] = df.fillna("missing")

# df['properties.Type'] = np.where(pd.notnull(df['properties.Type'])==True, df['properties.Type'], df['Type'])
# df['Type_allinfo'] = df['properties.Type'] + df['Type']

# # if there's Condominium, Condominium column =1 and otherwise 0
# def new_col_creating(df_name):
#   result = df_name['Type_allinfo'].apply(lambda x : 'Condominium' in str(x))
#   result = result.astype('int')
#   return result

# df['Condo'] = new_col_creating(df)
# df[['Type','Condo']]


# # if there's HDB, HDB column =1 and otherwise 0
# def new_col_creating(df_name):
#   result = df_name['Type_allinfo'].apply(lambda x : 'HDB' in str(x))
#   result = result.astype('int')
#   return result

# df['HDB'] = new_col_creating(df)
# df[['Type', 'properties.Type','HDB', 'Condo']].tail(15)

# # House_type 
# temp = list(range(df.shape[0]))
# def new_col_creating(df_name):
# 	for i in range(df_name.shape[0]): 
# 		if df_name.iloc[i]['Condo']==1:
# 			temp[i] = 'Condo'
# 		elif df_name.iloc[i]['HDB']==1:
# 			temp[i] ='HDB'
# 		else:
# 			temp[i] ='other'
# 	return temp

# df['House_type'] = new_col_creating(df)

In [ ]:
df[['Type', 'Condo', 'HDB','House_type']].value_counts()

Type                                Condo  HDB  House_type
Condominium For Sale                1      0    Condo         137886
Apartment For Sale                  0      0    other          35705
4A HDB For Sale                     0      1    HDB            22995
5I HDB For Sale                     0      1    HDB            17174
Executive Condominium For Sale      1      0    Condo           5870
5A HDB For Sale                     0      1    HDB             5027
4NG (New Generation) HDB For Sale   0      1    HDB             4615
EA (Exec Apartment) HDB For Sale    0      1    HDB             3952
3I (Improved) HDB For Sale          0      1    HDB             3821
3A HDB For Sale                     0      1    HDB             3386
EM (Exec Maisonette) HDB For Sale   0      1    HDB             3172
3NG (New Generation) HDB For Sale   0      1    HDB             2653
4S (Simplified) HDB For Sale        0      1    HDB             1859
4I (Improved) HDB For Sale          0      1    HDB             1806
HDB Apartment For Sale              0      1    HDB             1449
3NG (Modified) HDB For Sale         0      1    HDB             1403
5S HDB For Sale                     0      1    HDB             1268
3S (Simplified) HDB For Sale        0      1    HDB              785
3STD (Standard) HDB For Sale        0      1    HDB              668
Jumbo HDB For Sale                  0      1    HDB              599
4STD (Standard) HDB For Sale        0      1    HDB              549
3A (Modified) HDB For Sale          0      1    HDB              541
3I (Modified) HDB For Sale          0      1    HDB              479
2A HDB For Sale                     0      1    HDB              408
2I (Improved) HDB For Sale          0      1    HDB              180
2S (Standard) HDB For Sale          0      1    HDB              154
MG (Multi-Generation) HDB For Sale  0      1    HDB              147
HDB For Sale                        0      1    HDB               61
HDB Flat For Sale                   0      1    HDB               28
1-Room / Studio HDB For Sale        0      1    HDB               25
1-Room/Studio HDB For Sale          0      1    HDB               18
Condominium For Rent                1      0    Condo             16
Apartment For Rent                  0      0    other              3
3I (Improved) HDB For Rent          0      1    HDB                1
dtype: int64

### Tenure(사용권) 관련 변수

In [ ]:
df['Tenure'].value_counts()

99-year Leasehold     187755
Freehold               64148
999-year Leasehold      5125
103-year Leasehold       803
Unknown Tenure            92
Name: Tenure, dtype: int64

In [ ]:
#@title Lease Dummy
def new_col_creating(df_name):
  result = df_name['Tenure'].apply(lambda x : ('99-year Leasehold' in str(x)) or 
                                   ('103-year Leasehold' in str(x)))
  result = result.astype('int')
  return result

df['Lease'] = new_col_creating(df)
df[['Tenure','Lease']].value_counts() 
# 999-year 부분이 99-year 포함으로 잘못 인식되는 문제

Tenure              Lease
99-year Leasehold   1        187755
Freehold            0         64148
999-year Leasehold  1          5125
103-year Leasehold  1           803
Unknown Tenure      0            92
dtype: int64

In [ ]:
df.loc[df['Tenure']=='999-year Leasehold', 'Lease'] = 0
df[['Tenure','Lease']].value_counts() # 해결 완료

Tenure              Lease
99-year Leasehold   1        187755
Freehold            0         64148
999-year Leasehold  0          5125
103-year Leasehold  1           803
Unknown Tenure      0            92
dtype: int64

999-year Leasehold, Freehold는 Free = 1로 처리되는 더미변수 Free를 생성합니다.

In [ ]:
#@title Free Dummy
def new_col_creating(df_name):
  result = df_name['Tenure'].apply(lambda x : ('Free' in str(x)) or ('999' in str(x)))
  # result = df_name['Tenure'].apply(lambda x : "Freehold" if ('Free' in str(x)) or ('999' in str(x)) else "Leasehold")
  result = result.astype('int')
  return result

df['Free'] = new_col_creating(df)
df[['Tenure','Lease', 'Free']].value_counts()

Tenure              Lease  Free
99-year Leasehold   1      0       187755
Freehold            0      1        64148
999-year Leasehold  0      1         5125
103-year Leasehold  1      0          803
Unknown Tenure      0      0           92
dtype: int64

#### Lease_type(object)

In [ ]:
# Lease_type
temp = list(range(df.shape[0]))
def new_col_creating(df_name):
	for i in range(df_name.shape[0]): 
		if df_name.iloc[i]['Free']==1:
			temp[i] = 'Freehold'
		elif df_name.iloc[i]['Lease']==1:
			temp[i] ='Leasehold'
		else:
			temp[i] ='other'
	return temp

df['Lease_type'] = new_col_creating(df)
df[['Lease', 'Free', 'Lease_type']].head()

   Lease  Free Lease_type
0      1     0  Leasehold
1      1     0  Leasehold
2      1     0  Leasehold
3      1     0  Leasehold
4      1     0  Leasehold

### region(Central/Non-central)

In [ ]:
df['address.locality'].value_counts()
# 28개의 네이버후드로 구성. 클래스 간 imbalance가 존재하긴 하지만 괜찮은 수준

Hougang / Punggol / Sengkang                    17923
Orchard / River Valley                          17469
Tanglin / Holland / Bukit Timah                 15041
East Coast / Marine Parade                      12958
Pasir Ris / Tampines                            10305
Harbourfront / Telok Blangah                     8639
Boat Quay / Raffles Place / Marina               8559
Bedok / Upper East Coast                         8192
Eunos / Geylang / Paya Lebar                     7759
Dairy Farm / Bukit Panjang / Choa Chu Kang       7506
Buona Vista / West Coast / Clementi New Town     7033
Balestier / Toa Payoh                            6248
Newton / Novena                                  5794
Alexandra / Commonwealth                         5301
Chinatown / Tanjong Pagar                        4813
Sembawang / Yishun                               4652
Changi Airport / Changi Village                  3939
Seletar / Yio Chu Kang                           3852
Boon Lay / Jurong / Tuas                         3605
Clementi Park / Upper Bukit Timah                3532
Farrer Park / Serangoon Rd                       3479
Beach Road / Bugis / Rochor                      3248
Macpherson / Potong Pasir                        3217
Ang Mo Kio / Bishan / Thomson                    3038
Admiralty / Woodlands                            2341
Mandai / Upper Thomson                            776
City Hall / Clarke Quay                           260
Lim Chu Kang / Tengah                               1
Name: address.locality, dtype: int64

In [ ]:
# planning area가 너무 세부적으로 나누어져 있으므로,
# Central 지역과 Non-central지역으로 그룹화하여 구분하는 변수 region 생성

dict_region_from_planning_area = {
    'Hougang / Punggol / Sengkang': 'Non-central',
    'Orchard / River Valley': 'Central',
    'Tanglin / Holland / Bukit Timah': 'Central',
    'East Coast / Marine Parade': 'Central',
    'Pasir Ris / Tampines': 'Non-central',
    'Bedok / Upper East Coast': 'Non-central',
    'Dairy Farm / Bukit Panjang / Choa Chu Kang': 'Non-central',
    'Boat Quay / Raffles Place / Marina': 'Central',
    'Harbourfront / Telok Blangah': 'Central',
    'Eunos / Geylang / Paya Lebar': 'Central',
    'Buona Vista / West Coast / Clementi New Town': 'Non-central',
    'Alexandra / Commonwealth': 'Central',
    'Balestier / Toa Payoh': 'Central',
    'Newton / Novena': 'Central',
    'Sembawang / Yishun': 'Non-central',
    'Clementi Park / Upper Bukit Timah': 'Central',
    'Seletar / Yio Chu Kang': 'Non-central',
    'Chinatown / Tanjong Pagar': 'Central',
    'Changi Airport / Changi Village': 'Non-central',
    'Boon Lay / Jurong / Tuas': 'Non-central',
    'Farrer Park / Serangoon Rd': 'Non-central',
    'Ang Mo Kio / Bishan / Thomson': 'Non-central',
    'Macpherson / Potong Pasir': 'Central',
    'Beach Road / Bugis / Rochor': 'Central',
    'Admiralty / Woodlands': 'Non-central',
    'Mandai / Upper Thomson': 'Non-central',
    'City Hall / Clarke Quay': 'Central',
    'Lim Chu Kang / Tengah': 'Non-central'
    }

df['region'] = df['address.locality'].replace(dict_region_from_planning_area)
df[['address.locality', 'region']].value_counts()

address.locality                              region
Hougang / Punggol / Sengkang                  Non-central    17923
Orchard / River Valley                        Central        17469
Tanglin / Holland / Bukit Timah               Central        15041
East Coast / Marine Parade                    Central        12958
Pasir Ris / Tampines                          Non-central    10305
Harbourfront / Telok Blangah                  Central         8639
Boat Quay / Raffles Place / Marina            Central         8559
Bedok / Upper East Coast                      Non-central     8192
Eunos / Geylang / Paya Lebar                  Central         7759
Dairy Farm / Bukit Panjang / Choa Chu Kang    Non-central     7506
Buona Vista / West Coast / Clementi New Town  Non-central     7033
Balestier / Toa Payoh                         Central         6248
Newton / Novena                               Central         5794
Alexandra / Commonwealth                      Central         5301
Chinatown / Tanjong Pagar                     Central         4813
Sembawang / Yishun                            Non-central     4652
Changi Airport / Changi Village               Non-central     3939
Seletar / Yio Chu Kang                        Non-central     3852
Boon Lay / Jurong / Tuas                      Non-central     3605
Clementi Park / Upper Bukit Timah             Central         3532
Farrer Park / Serangoon Rd                    Non-central     3479
Beach Road / Bugis / Rochor                   Central         3248
Macpherson / Potong Pasir                     Central         3217
Ang Mo Kio / Bishan / Thomson                 Non-central     3038
Admiralty / Woodlands                         Non-central     2341
Mandai / Upper Thomson                        Non-central      776
City Hall / Clarke Quay                       Central          260
Lim Chu Kang / Tengah                         Non-central        1
dtype: int64

In [ ]:
df['region'].value_counts()

Central        102838
Non-central     76642
Name: region, dtype: int64

# 2022-01-24 추가

In [42]:
# region생성까지 완료된 후 내보냈던 데이터파일 불러오기
df = pd.read_csv("/content/drive/MyDrive/PropertyGuru/PreparedCSV/EDA_ready_with_property_UID.csv", index_col=0)
# df = pd.read_csv("/content/drive/MyDrive/PropertyGuru/PreparedCSV/EDA_ready_with_property_UID_without_negative_years_from_TOP.csv", index_col=0)
# df= pd.read_csv("/content/drive/MyDrive/PropertyGuru/preprocessing2/shortened_All_added0118.csv", index_col = 0)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258701 entries, 3 to 258698
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   index                                   258701 non-null  int64
 1   property_UID                            258701 non-null  object
 2   listed_date                             258701 non-null  object
 3   reupload                                258701 non-null  object
 4   new                                     258701 non-null  int64
 5   descrip10                               258701 non-null  object
 6   description                             258701 non-null  object
 7   Floorsize                               258701 non-null  int64
 8   Floor                                   258701 non-null  object
 9   House_type                              258701 non-null  object
 10  Lease_type                              258701 non-null  object
 11  region                                  258701 non-null  object
 12  ListingID                               258701 non-null  int64
 13  created_at                              258701 non-null  object
 14  years_from_TOP                          258701 non-null  int64
 15  PSF_float                               258701 non-null  float64
 16  Tenanted                                258681 non-null  object
 17  Total Unit(s)                           179866 non-null  float64
 18  Furnishing                              197294 non-null  object
 19  listed_year                             258701 non-null  int64
 20  Month                                   258701 non-null  int64
 21  phase                                   258649 non-null  object
 22  pandemic                                258701 non-null  int64
 23  address.locality                        179478 non-null  object
 24  latitude                                258701 non-null  float64
 25  longitude                               258701 non-null  float64
 26  rooms                                   258690 non-null  object
 27  bathrooms                               258690 non-null  object
 28  floor_size                              258701 non-null  int64
 29  price                                   258701 non-null  int64
 30  days_past                               258701 non-null  int64
 31  Condo                                   258701 non-null  int64
 32  HDB                                     258701 non-null  int64
 33  TOP                                     258701 non-null  int64
 34  Lease                                   258701 non-null  int64
 35  Free                                    258701 non-null  int64
 36  Developer                               253617 non-null  object
 37  image_urls                              258701 non-null  object
 38  URL                                     258701 non-null  object
 39  development_properties.Completion Year  188905 non-null  float64
 40  properties.url                          258701 non-null  object
dtypes: float64(5), int64(16), object(20)
memory usage: 82.9+ MB

### Month

In [44]:
# 시간변수로 데이터타입 변경 object --> datetime64
df.listed_date = pd.to_datetime(df.listed_date)

In [ ]:
df.info()

In [46]:
df['Month'] = pd.DatetimeIndex(df['listed_date']).month

In [47]:
df[['listed_date','Month']].value_counts() # 확인

listed_date  Month
2019-10-26   10       10199
2019-10-20   10        8579
2019-10-25   10        7797
2020-09-25   9         7552
2020-12-04   12        6830
                      ...
2020-12-11   12           5
2020-08-13   8            5
2020-07-14   7            2
2020-11-11   11           1
2020-05-09   5            1
Length: 149, dtype: int64

### 팬데믹Phase 시간대 구분 변수 생성

In [48]:
# 앞(Month파트)에서 시간변수로 데이터타입 변경 코드 돌린 다음에 진행하여야 함
# 해당 코드: df.listed_date = pd.to_datetime(df.listed_date)
# 일단 phase라는 새로운 변수를 생성
df['phase'] = 'None'
df[['listed_date', 'phase']]

       listed_date phase
3       2019-10-26  None
4       2019-10-26  None
5       2019-10-26  None
7       2019-10-26  None
13      2019-10-26  None
...            ...   ...
258688  2021-07-16  None
258691  2021-07-22  None
258692  2021-07-22  None
258696  2021-07-21  None
258698  2021-07-21  None

[258701 rows x 2 columns]

In [49]:
# phase cuts
import datetime
df.loc[(df['listed_date'] <=datetime.datetime(2020,1,23)), 'phase'] = '1) before covid'
df.loc[(df['listed_date'] >=datetime.datetime(2020,1,23)) & (df['listed_date'] <=datetime.datetime(2020,4,6) ), 'phase'] = '1.5) covid_early_stage'
df.loc[(df['listed_date'] >=datetime.datetime(2020,4,7)) & (df['listed_date'] <=datetime.datetime(2020,6,1) ), 'phase'] = '2) Circuit breaker lockdown'
df.loc[(df['listed_date'] >=datetime.datetime(2020,6,2)) & (df['listed_date'] <=datetime.datetime(2020,6,18) ), 'phase'] = '3) phase1'
df.loc[(df['listed_date'] >=datetime.datetime(2020,6,19)) & (df['listed_date'] <=datetime.datetime(2020,12,27) ), 'phase'] = '4) phase2'
df.loc[(df['listed_date'] >=datetime.datetime(2020,12,28)) & (df['listed_date'] <=datetime.datetime(2021,5,7) ), 'phase'] = '5) phase3'
df.loc[(df['listed_date'] >=datetime.datetime(2021,5,8)) & (df['listed_date'] <=datetime.datetime(2021,5,15) ), 'phase'] = '6) phase3(Heightened Alert)'
df.loc[(df['listed_date'] >=datetime.datetime(2021,5,16)) & (df['listed_date'] <=datetime.datetime(2021,6,13) ), 'phase'] = '7) phase2(Heightened Alert)'
df.loc[(df['listed_date'] >=datetime.datetime(2021,6,14)) & (df['listed_date'] <=datetime.datetime(2021,6,20) ), 'phase'] = '8) phase3(Heightened Alert) with Stage1'
df.loc[(df['listed_date'] >=datetime.datetime(2021,6,21)) & (df['listed_date'] <=datetime.datetime(2021,7,11) ), 'phase'] = '9) phase3(Heightened Alert) with Stage2'
df.loc[(df['listed_date'] >=datetime.datetime(2021,7,12)) & (df['listed_date'] <=datetime.datetime(2021,7,21) ), 'phase'] = '10) phase3(Heightened Alert)'
df.loc[(df['listed_date'] >=datetime.datetime(2021,7,22)) & (df['listed_date'] <=datetime.datetime(2021,8,9) ), 'phase'] = '11) phase2(Heightened Alert)'

In [50]:
df[['listed_date','phase']].sample(20)

       listed_date                         phase
246710  2021-05-10   6) phase3(Heightened Alert)
61453   2019-10-07               1) before covid
193246  2021-01-04                     5) phase3
101136  2020-10-02                     4) phase2
60113   2019-10-14               1) before covid
246648  2021-05-10   6) phase3(Heightened Alert)
66386   2019-09-28               1) before covid
110699  2020-10-03                     4) phase2
163110  2020-11-21                     4) phase2
250092  2021-07-21  10) phase3(Heightened Alert)
60849   2019-10-14               1) before covid
57747   2019-10-26               1) before covid
27738   2019-10-22               1) before covid
178577  2021-01-13                     5) phase3
175849  2021-01-17                     5) phase3
78023   2020-09-29                     4) phase2
252970  2021-07-18  10) phase3(Heightened Alert)
151579  2020-11-28                     4) phase2
45926   2019-10-26               1) before covid
257089  2021-07-23  11) phase2(Heightened Alert)

### question

In [ ]:
# 시간대 구분함수 만들기
def cut(x):
    if x <= '2020-01-23':
        return  'before covid'
    if '2020-04-07' <= x <= '2020-06-01':
        return 'circuit breaker'
    if '2020-06-02' <= x <= '2020-06-18':
        return 'phase1'
    if '2020-06-19' <= x <= '2020-12-27':
        return 'phase2'
    if '2020-12-28' <= x <= '2021-05-07':
        return 'phase3'
    if '2021-05-08' <= x <= '2021-05-15':
        return 'phase3(Heightened Alert)'
    if '2021-05-16' <= x <= '2021-06-13':
        return 'phase2(Heightened Alert)'
    if '2021-06-14' <= x <= '2021-06-20':
        return 'phase3(Heightened Alert) with Stage 1'
    if '2021-06-21' <= x <= '2021-07-11':
        return 'phase3(Heightened Alert) with Stage 2'
    if '2021-07-12' <= x <= '2021-07-21':
        return 'phase3(Heightened Alert)'    
    if '2021-07-22' <= x <= '2021-08-09':
        return 'phase2(Heightened Alert)'

In [ ]:
df['phase'] = df['listed_date'].apply(lambda x : cut(x))
df[['phase', 'listed_date']].sample(20)

# 내보내기

### 내보낼 컬럼 선택

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258701 entries, 3 to 258698
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   index                                   258701 non-null  int64
 1   property_UID                            258701 non-null  object
 2   listed_date                             258701 non-null  datetime64[ns]
 3   reupload                                258701 non-null  object
 4   new                                     258701 non-null  int64
 5   descrip10                               258701 non-null  object
 6   description                             258701 non-null  object
 7   Floorsize                               258701 non-null  int64
 8   Floor                                   258701 non-null  object
 9   House_type                              258701 non-null  object
 10  Lease_type                              258701 non-null  object
 11  region                                  258701 non-null  object
 12  ListingID                               258701 non-null  int64
 13  created_at                              258701 non-null  object
 14  years_from_TOP                          258701 non-null  int64
 15  PSF_float                               258701 non-null  float64
 16  Tenanted                                258681 non-null  object
 17  Total Unit(s)                           179866 non-null  float64
 18  Furnishing                              197294 non-null  object
 19  listed_year                             258701 non-null  int64
 20  Month                                   258701 non-null  int64
 21  phase                                   258701 non-null  object
 22  pandemic                                258701 non-null  int64
 23  address.locality                        179478 non-null  object
 24  latitude                                258701 non-null  float64
 25  longitude                               258701 non-null  float64
 26  rooms                                   258690 non-null  object
 27  bathrooms                               258690 non-null  object
 28  floor_size                              258701 non-null  int64
 29  price                                   258701 non-null  int64
 30  days_past                               258701 non-null  int64
 31  Condo                                   258701 non-null  int64
 32  HDB                                     258701 non-null  int64
 33  TOP                                     258701 non-null  int64
 34  Lease                                   258701 non-null  int64
 35  Free                                    258701 non-null  int64
 36  Developer                               253617 non-null  object
 37  image_urls                              258701 non-null  object
 38  URL                                     258701 non-null  object
 39  development_properties.Completion Year  188905 non-null  float64
 40  properties.url                          258701 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(16), object(19)
memory usage: 82.9+ MB

In [52]:
df.columns

Index(['index', 'property_UID', 'listed_date', 'reupload', 'new', 'descrip10',
       'description', 'Floorsize', 'Floor', 'House_type', 'Lease_type',
       'region', 'ListingID', 'created_at', 'years_from_TOP', 'PSF_float',
       'Tenanted', 'Total Unit(s)', 'Furnishing', 'listed_year', 'Month',
       'phase', 'pandemic', 'address.locality', 'latitude', 'longitude',
       'rooms', 'bathrooms', 'floor_size', 'price', 'days_past', 'Condo',
       'HDB', 'TOP', 'Lease', 'Free', 'Developer', 'image_urls', 'URL',
       'development_properties.Completion Year', 'properties.url'],
      dtype='object')

In [ ]:
df.head().T

In [53]:
# 내보낼 컬럼들
columns_want_to_export2 = df[['index', 'property_UID', 'listed_date', 'reupload', 'new', 'descrip10',
       'description', 'Floorsize', 'Floor', 'House_type', 'Lease_type',
       'region', 'ListingID', 'created_at', 'years_from_TOP', 'PSF_float',
       'Tenanted', 'Total Unit(s)', 'Furnishing', 'listed_year', 'Month',
       'phase', 'pandemic', 'address.locality', 'latitude', 'longitude',
       'rooms', 'bathrooms', 'floor_size', 'price', 'days_past', 'Condo',
       'HDB', 'TOP', 'Lease', 'Free', 'Developer', 'image_urls', 'URL',
       'development_properties.Completion Year', 'properties.url']]

In [ ]:
# 내보내지 않을 변수가 많지 않을 때:
# columns_want_to_drop = ['Listed_on', 'Listed_on_num','Listed_on_day', 
#                         'date_created_at', 'Lease', 'Type_allinfo']

# 위 리스트를 제외한 컬럼으로 구성된 데이터프레임 생성                        
# df_export = df.drop(columns = columns_want_to_drop)
# columns_want_to_export = ['posting_ID', 'ListingID', 'description', 'House_type', 'Lease_type', 'Furnishing', 'price', 'img_count', 'Developer', 'address.locality', 'Floor', 'days_past', 'listed_date', 'listed_year', 'pandemic', 'TOP', 'Total Unit(s)', 'rooms', 'bathrooms', 'years_from_TOP', 'floor_size', 'PSF_float', 'Condo', 'HDB', 'Free', 'Lease', 'image_urls', 'created_at', 'latitude', 'longitude']
# columns_want_to_export = ['posting_ID', 'image_urls', 'img_count' ]

In [54]:
# 내보내기 - added0118에 비해 Month, phase가 추가된 데이터셋이 added0124.
# columns_want_to_export2.to_csv("/content/drive/MyDrive/PropertyGuru/preprocessing2/shortened_All_added0118.csv")
# columns_want_to_export2.to_csv("/content/drive/MyDrive/PropertyGuru/preprocessing2/shortened_All_added0124.csv")

# property_UID 생성하는 preprocessing(3) 파트 끝나고 다시 가져와 파생변수 생성한 세트 내보내기(2022-01-24.진행)
# 이 코드는 years_from_TOP -1이상인 데이터셋임. 0 이상인 데이터셋은 아래에 내보내기 있음.
columns_want_to_export2.to_csv("/content/drive/MyDrive/PropertyGuru/PreparedCSV/EDA_ready_with_property_UID.csv")

In [55]:
columns_want_to_export2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258701 entries, 3 to 258698
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   index                                   258701 non-null  int64
 1   property_UID                            258701 non-null  object
 2   listed_date                             258701 non-null  datetime64[ns]
 3   reupload                                258701 non-null  object
 4   new                                     258701 non-null  int64
 5   descrip10                               258701 non-null  object
 6   description                             258701 non-null  object
 7   Floorsize                               258701 non-null  int64
 8   Floor                                   258701 non-null  object
 9   House_type                              258701 non-null  object
 10  Lease_type                              258701 non-null  object
 11  region                                  258701 non-null  object
 12  ListingID                               258701 non-null  int64
 13  created_at                              258701 non-null  object
 14  years_from_TOP                          258701 non-null  int64
 15  PSF_float                               258701 non-null  float64
 16  Tenanted                                258681 non-null  object
 17  Total Unit(s)                           179866 non-null  float64
 18  Furnishing                              197294 non-null  object
 19  listed_year                             258701 non-null  int64
 20  Month                                   258701 non-null  int64
 21  phase                                   258701 non-null  object
 22  pandemic                                258701 non-null  int64
 23  address.locality                        179478 non-null  object
 24  latitude                                258701 non-null  float64
 25  longitude                               258701 non-null  float64
 26  rooms                                   258690 non-null  object
 27  bathrooms                               258690 non-null  object
 28  floor_size                              258701 non-null  int64
 29  price                                   258701 non-null  int64
 30  days_past                               258701 non-null  int64
 31  Condo                                   258701 non-null  int64
 32  HDB                                     258701 non-null  int64
 33  TOP                                     258701 non-null  int64
 34  Lease                                   258701 non-null  int64
 35  Free                                    258701 non-null  int64
 36  Developer                               253617 non-null  object
 37  image_urls                              258701 non-null  object
 38  URL                                     258701 non-null  object
 39  development_properties.Completion Year  188905 non-null  float64
 40  properties.url                          258701 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(16), object(19)
memory usage: 82.9+ MB

In [57]:
# TOP가 negative 아닌 행들만 내보내기
df = df[df['years_from_TOP']>=0]

In [59]:
len(df)

258401

In [60]:
# property_UID 생성하는 preprocessing(3) 파트 끝나고 다시 가져와 파생변수 생성한 세트 내보내기(2022-01-24.진행) 
# 아래 코드는 years_from_TOP가 0 이상인 행만 내보낸 것.
df.to_csv("/content/drive/MyDrive/PropertyGuru/PreparedCSV/EDA_ready_with_property_UID_without_negative_years_from_TOP.csv")